In [3]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import matplotlib.pyplot as plt
import networkx as nx
import time
from fun.fun import *

c:\Users\stirl\miniconda3\envs\network_env\Lib\site-packages\dask\dataframe\__init__.py:31: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [5]:
# START
edges_fn = "../data/edges.parquet"
communities_fn = "../data/communities.csv"
dataset_fn = "../dataset/TweetsCOV19.tsv"

In [25]:
# -> IN : Read edge list to dask df
print("reading edges ... ", end='')
start = time.time()
df = dd.read_parquet("../data/edges.parquet")
end = time.time()
print("read {:_} lines (took {:.1f}s)".format(len(df), (end-start)))
df.head()

reading edges ... read 684_732_453 lines (took 0.2s)

   source  target
0      13  103151
1      13  214293
2  103151  214293
3      13  138731
4      13   42023

In [ ]:
# -> IN : Load tweets dataframe
tw = get_filtered_tweets_dataframe(dataset_fn)
print("Loaded {:_} tweets".format(len(tw)))
tw.head()

In [ ]:
# -> IN : Read list of nodes
nodes = pd.read_csv('../data/node_ids.csv', index_col='twitter id')
print("Number of nodes: {:_}".format(len(nodes)))
nodes.head()

In [14]:
# -> IN : Read node communities
#com = pd.read_csv(communities_fn, index_col='node')
com = pd.read_csv(communities_fn)
com

          node  community
0            0          1
1            1          1
2            2          1
3            3          1
4            4          1
...        ...        ...
410880  410880          1
410881  410881          1
410882  410882          1
410883  410883          1
410884  410884          1

[410885 rows x 2 columns]

In [27]:
# select node indeces from nth largest community (starts from 1)
n = 2
group = np.array( com[com['community'] == n]['node'] )
print(len(group))
group

95

array([  4617,   4623,  24614,  24676,  25106,  33389,  48713,  51565,
        53022,  56833,  56926,  56933,  56935,  57122,  63760,  63787,
        63811,  63816,  63821,  63869,  63924,  63979,  67615,  67625,
        67626,  67635,  67805,  67846,  71091,  71098,  74524,  74600,
        74606,  78688,  78734,  78748,  78829,  81133,  82520,  82524,
        82547,  93898,  93934,  93943,  94122,  95833,  96811,  99394,
        99416,  99417, 102273, 105099, 105134, 108245, 108256, 111163,
       111166, 111172, 111176, 111212, 113117, 113178, 119982, 120371,
       120411, 122243, 122279, 123456, 123566, 125985, 133702, 139515,
       139705, 141929, 143886, 146329, 149554, 164516, 170221, 172691,
       178340, 181172, 185297, 186758, 190487, 190512, 190564, 190624,
       190659, 192699, 192722, 194267, 194279, 336803, 400725],
      dtype=int64)

In [ ]:
# select edges belonging to group

#